
.frist {
	font-size: x-small;
	padding-top: 15px; 
	font-weight: bold;
	text-align: center;
}

.frist-2 {
	font-size: x-small; 
	font-weight: bold;
	text-align: center;
}
.small{
	font-size: x-small;
	padding: 0px;
	margin: 0px;
	text-align: justify;
}
.small-1{
	font-size: x-small;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	margin: 0px;	
}
.small-1-1{
	font-size: xx-small;
	font-weight: bold;
	padding: 0px 0px 0px 390px;
	margin: 0px;
	text-align: justify;
}
.logo{
	height: 15px; 
	width: 55px; 
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}
.small-rigth-1{
	font-size: x-small;
	padding-left: 400px;
}
.medium{
	font-size: x-small;
	padding-left: 10px;
}
table {
  border-collapse: collapse;
}

.table{
	border: black 1px;
	margin: 0px;
	padding: 0px;
}
.small-2{
	font-size: xx-small;
	padding: 0px 0px 0px 390px;
	margin: 0px;
	text-align: justify;
}

.medium-2{
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-align: justify;
}
.mrp_bill_table_detail{
    border: 1px solid black;
}
.mrp_bill_table_detail td{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding:2px 4px 2px 4px;
    }

#celdas{
	border: 1px solid black;
	color: black;
}

#primer_tabla{
    background-color: #a5a8a4 !important;
    color: black;
    border: 1pt solid black !important;
    font-weight: bold;
}