<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_module_analysis"
        name="Analysis"
        parent="base.menu_management" sequence="100"
        groups="base.group_no_one"/>

    <menuitem id="menu_module_analysis_settings"
        name="Settings"
        parent="menu_module_analysis" sequence="10"/>

    <menuitem id="menu_module_analysis_reporting"
        name="Reporting"
        parent="menu_module_analysis" sequence="20"/>
</odoo>